{
  "env": {
    "browser": true,
    "node": true,
    "es2022": true
  },
  "extends": ["plugin:storybook/recommended","plugin:react/recommended", "plugin:@typescript-eslint/recommended", "plugin:mdx/recommended"],
  "ignorePatterns": ["vite.config.ts"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "18.0"
    }
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  }
}