@import "compiled.css";
@import "components.css";
@import "animations/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 9%;
    --card-foreground: 240 10% 3.9%;

    --border: rgba(0, 0, 0, 0.1);
    --input: 240 5.9% 90%;

    --primary: 212 100% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 178 100% 44%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #f5f5f5;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: rgba(255, 255, 255, 0.07);
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  html,
  body,
  #storybook-root {
    min-height: 100% !important;
    height: 100% !important;
  }
  body {
    @apply bg-background text-foreground;
    margin-right: 0px !important;
  }

  body:not(.anything) {
    margin-right: 0px !important;
  }

  .markdown * {
    all: revert;
  }
}

svg,
svg *:focus {
  outline: none !important;
}

html {
  overflow-x: hidden !important;
}

input,
textarea,
button,
select,
div,
span,
a {
  -webkit-tap-highlight-color: transparent;
}

.hide-blink {
  caret-color: transparent;
}

.invisible-scroll::-webkit-scrollbar {
  width: 0px;
}

.invisible-scroll {
  scrollbar-color: transparent transparent;
  overflow-x: hidden !important;
}

.pointer-events-fill {
  pointer-events: fill;
}

.pointer-events-stroke {
  pointer-events: stroke;
}

.unselectable {
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   pointer-events: none;
}