@layer utilities {
  .icon-hover {
    @apply transition-colors duration-medium hover:text-black/70;
  }
  .link {
    @apply hover:opacity-70 transition-all duration-medium;
  }
  .card-red-bg {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.06) 0%, rgba(255, 0, 0, 0.04) 100%);
  }
  .card-red-title {
    @apply text-[#680000];
  }
  .card-red-body {
    @apply text-[#66000099];
  }
  .card-red-border {
    border: 2px solid rgba(255, 0, 0, 0.18);
  }
  .card-red-badge-text {
    @apply text-[#C00];
  }
  .card-red-badge {
    @apply card-red-bg card-red-badge-text card-red-border filter hover:brightness-150;
  }
  .card-red {
    @apply card-red-bg [&>h2]:card-red-title group-hover:filter hover:brightness-150;
    > .badge {
      @apply card-red-bg card-red-badge-text card-red-border;
    }
    > div > span {
      @apply card-red-badge-text card-red-border;
    }
    > .markdown {
      @apply card-red-body;
      > p {
        all: unset;
      }
    }
  }
  .card-blue-bg {
    background: linear-gradient(180deg, rgba(68, 0, 255, 0.06) 0%, rgba(68, 0, 255, 0.04) 100%);
  }
  .card-blue-border {
    border: 2px solid rgba(68, 0, 255, 0.18);
  }
  .card-blue-badge-text {
    @apply text-[#3500CC];
  }
  .card-blue {
    @apply card-blue-bg group-hover:filter hover:brightness-150 [&>h2]:text-[#3500CC];
    > .badge {
      @apply card-blue-bg card-blue-badge-text card-blue-border;
    }
    > div > span {
      @apply card-blue-badge-text card-blue-border;
    }
    > .markdown {
      @apply text-[#1B006699];
      > p {
        all: unset;
      }
    }
  }
  .card-green-bg {
    background: linear-gradient(180deg, rgba(0, 255, 161, 0.06) 0%, rgba(0, 255, 161, 0.04) 100%);
  }
  .card-green-border {
    border: 2px solid rgba(0, 255, 161, 0.18);
  }
  .card-green-badge-text {
    @apply text-[#00CC83];
  }
  .card-green {
    @apply card-green-bg [&>h2]:text-[#006842] filter group-hover:[&>h2]:brightness-150;
    > .badge {
      @apply card-green-bg card-green-badge-text card-green-border;
    }
    > div > span {
      @apply card-green-badge-text card-green-border group-hover:brightness-110;
    }
    > .markdown {
      @apply text-[#00664199];
      > p {
        all: unset;
      }
    }
  }
}
